{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10.15"
        },
        "shippedProposals": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
