{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10.15"
        },
        "shippedProposals": true
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": []
}
